<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularios Registrados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <h2 class="mb-4 text-primary">Lista de formularios registrados</h2>
    <a th:href="@{/}" class="btn btn-outline-primary mb-3">Volver al inicio</a>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Correo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="form : ${formularios}">
            <td th:text="${form.id}">1</td>
            <td th:text="${form.nombre}">Nombre</td>
            <td th:text="${form.edad}">Edad</td>
            <td th:text="${form.correo}">Correo</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
